<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes" />
    <meta content=yes name=apple-mobile-web-app-capable />
    <meta content=yes name=apple-touch-fullscreen />
    <meta content="telephone=no,email=no" name=format-detection />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover">
    <title>黑镜：潘达斯奈基-互动电影在线观看</title>
    <meta name="keywords" content="黑镜,潘达斯奈基,Black Mirror,互动电影" />
    <meta name="description" content="黑镜：潘达斯奈基，可在线观看的互动电影站" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?a0364390a8d46f2a88e5e7b6b1ed529a";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>

<body>
    <div id="root"></div>
</body>
    
</html>